<div ng-app="KambdaApp" ng-controller="CommentsCtrl">
  <h1>Listing comments</h1>
  <a href="{{newCommentUrl}}" class="btn btn-primary">Add Comment</a>
  <table class="table table-stripe">
	<thead>
	<tr>
	  <th>Body</th>
	  <th></th>
	  <th></th>
	  <th></th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="comment in comments">
	  <td>{{comment.body}}</td>
	  <td><a href="{{comment.url}}">Show</a></td>
	  <td><a href="{{comment.editUrl}}">Edit</a></td>
	  <td><a href="#" data-no-turbolink ng-click="deleteComment(comment)">Delete</a></td>
	</tr>
	</tbody>
  </table>
</div>